.header-color {
  /* background: #8360c3;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #101010 !important;
}

.landing-grid {
  /* background: #8360c3;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #101010;
  text-align:center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.avatar-img {
  height: 450px;
  padding-top: 5em;
}

.banner-text {
  background-color: #303030;
  opacity: .8;
  width: 55%;
  margin: auto;
  border-radius: 10px;
  margin-top: 105px;
  padding: 10px;
}

.banner-text h1{
  font-size: 55px;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
  text-align: center;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}

.social-links i {
  color:white;
  font-size: 5em;
}
/* Projects Page */
.projects-grid{
  display: grid;
  grid-gap: 90px;
}

/* Contact Page */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton',sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen',sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 4px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 60px;
  padding-right: 5rem;
}

/* Resume Page */
.resume-right {
  background: rgb(32, 32, 32);
  color:white;
  padding:2em;

}

.resume-left-text h4 {
  font-size: 15px;
  color:grey;
}

.resume-grid p {
  font-family: 'Oxygen',sans-serif;
  font-weight: bold;
}
.resume-grid h4 {
  font-family: 'Oxygen',sans-serif;
  font-weight: bold;
}

.resume-right h2{
  font-family: 'Oxygen',sans-serif;
  font-weight: bold;
}

/* About Me Page */

.about-text {
  margin-left: 5em;
  margin-right: 35em;
  text-align: left;
  font-family: 'Oxygen',sans-serif;
  color: #000;
  /* font-size: 45px; */
}

.about-images {
  margin: auto;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.logos {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
